.header-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    will-change: transform;
} 

.ion-no-border {
    color: black;
}

ion-content {
    position: absolute;
    --padding-bottom: 50px;
}